@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --green: #239b56;
  --red: #e74c3c;
  --background-grey: #f7f5f7;
  --font-color: #020103;
  --grey: #f7f7f727;
}

body {
  background-color: var(--background-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container-app {
  font-family: "Lato", sans-serif;
  max-width: 500px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
